# -----------------------------
# Frontend and Node.js
# -----------------------------
node_modules/
dist/
build/
.next/
.server/
.client/
.temp/
.cache/
*.local

# -----------------------------
# Data and Machine Learning
# -----------------------------
data/
*.csv
model/
*.pkl

# -----------------------------
# Security & Secrets
# -----------------------------
# Prevent uploading AES/HMAC keys or environment variables
*.bin
.env
secret*

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Python Specific
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------
# OS & Editor Specific
# -----------------------------
.vscode/
.DS_Store
Thumbs.db